!ft_vec_append.c
!ft_vec_elm.c
!ft_vec_err_handler.c
!ft_vec_insert.c
!ft_vec_new.c
!ft_vec_pop.c
!ft_vec_push.c
!ft_vec_remove.c
!ft_vec_reserve_exact.c
!ft_vec_reserve.c
!ft_vec_resize.c
!ft_vec_retain.c
!ft_vec_shrink_to_fit.c
!ft_vec_sort.c